#### Frank Contrepois 2008 			####
#### Copyright Coblan srl 2008 			####

global
	# system
	daemon
	quiet
	nbproc 1
	pidfile /tmp/lb.pid	

	# logs
	log 127.0.0.1   local6 info

	# stats
	stats socket /tmp/lb.sock user admin group admin mode 400
	stats timeout 10
	stats maxconn 10
	
	#perfs
	maxconn 2000
	spread-checks 4	

# DEFAULT VALUES 
defaults
	mode tcp
	balance roundrobin
	enabled
	backlog 128
        retries 3
	
	errorfile 400 /home/admin/etc/lb/errors/error400.http
	errorfile 403 /home/admin/etc/lb/errors/error403.http
	errorfile 408 /home/admin/etc/lb/errors/error408.http
	errorfile 500 /home/admin/etc/lb/errors/error500.http
	errorfile 502 /home/admin/etc/lb/errors/error502.http
	errorfile 503 /home/admin/etc/lb/errors/error503.http
	errorfile 504 /home/admin/etc/lb/errors/error504.http

        maxconn 400
	fullconn 200
	
	log global

	option abortonclose
	option forceclose
	option redispatch
	option tcpka
	option tcplog

	timeout client 5s
	timeout connect 1s
	timeout server 3s
	timeout queue 2m

# Farms
